<body>

    <br />
    <a routerLink="/params/servicio-plan-agregar" class="btn">Agregar Servicios Plan </a>
    <br />

    <div class="hero">
        <h1>Listado de nuestros Servicios Plan</h1>
        <p>Conozca los Planes asociadas a nuestros servicios</p>
        <button>Conozca Nuestros Servicios Plan</button>
    </div>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre del Servicio</th>
                <th>Detalle del Servicio</th>
                <th>Foto</th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let reg of ListaRegistros | paginate: { itemsPerPage: registroPorPagina, currentPage: pag, totalItems: total }">
                <td>{{reg.id}}</td>
                <td>{{reg.nombre}}</td>
                <td>{{reg.detalles}}</td>
                <td>{{reg.foto}}</td>
                <td>
                    <a routerLink="/params/servicio-plan-editar/{{reg.id}}" class="btn orange">Editar Registro
                    </a>&nbsp;
                    <a routerLink="/params/servicio-plan-eliminar{{reg.id}}" class="btn red">Eliminar Resgistro </a>
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <pagination-controls (pageChange)="pag = $event; ListarRegistros()" previousLabel="Anterior"
                        nextLabel="Siguiente" screenReaderPaginationLabel="Navegación" screenReaderPageLabel="Pagina"
                        screenReaderCurrentLabel="Pagina Actual">
                    </pagination-controls>
                </td>
            </tr>
        </tbody>
    </table>
</body>
