<body>

    <br/>
    <a routerLink="/params/resena-agregar" class="btn">Agregar Resenas </a>
    <br/>

    <div class="hero">
        <h1>Listado de nuestras Resenas</h1>
        <p>Conozca las Resenas asociadas a nuestros servicios</p>
        <button>Conozca Nuestros Resenas</button>
    </div>

    <table>
        <thead>
            <tr>
                <th>Comentario</th>
                <th>Calificacion</th>
                <th>Cliente</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reg of listaRegistros | paginate: { itemsPerPage: registroPorPagina, currentPage: pag, totalItems: total }">
                <td>{{ reg.comentario}}</td>
                <td>{{ reg.calificacion}}</td>
                <td>{{reg.clienteId}}</td>
                <td>
                  <a routerLink="/params/resena-editar/{{reg.id}}" class="btn orange">Editar Factura </a>&nbsp;
                  <a routerLink="/params/resena-eliminar{{reg.id}}" class="btn red">Eliminar Factura </a>
                </td>
              </tr>
              <tr>
                  <td colspan="5">
                      <pagination-controls
                        (pageChange)="pag = $event; ListarRegistros()"
                        previousLabel="Anterior"
                        nextLabel="Siguiente"
                        screenReaderPaginationLabel="Navegación"
                        screenReaderPageLabel="Pagina"
                        screenReaderCurrentLabel="Pagina Actual">
                      </pagination-controls>
                  </td>
              </tr>
        </tbody>
    </table>
    </body>
