  <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <img src="https://materializecss.com/images/office.jpg">
      </div>
      <a href="#user"><img class="circle" src="https://materializecss.com/images/yuna.jpg"></a>
      <a href="#name"><span class="white-text name">John Doe</span></a>

    </div></li>
    <li>
      <li><a routerLink="/params/servicio-listar">Servicios</a></li>
      <li><a routerLink="/params/cliente-listar">Clientes</a></li>
      <li><a routerLink="/params/beneficiario-listar">Beneficiarios</a></li>
      <li><a routerLink="/params/cliente-plan-listar">Clientes Plan</a></li>
      <li><a routerLink="/params/factura-listar">Facturas</a></li>
      <li><a routerLink="/params/resena-listar">Reseñas</a></li>
      <li><a routerLink="/params/sala-velacion-listar">Salas de Velacion</a></li>
      <li><a routerLink="/params/sedes-funeraria-listar">Sedes Funerarias</a></li>
      <li><a routerLink="/params/servicio-plan-listar">Servicios Plan</a></li>
      <li><a routerLink="/params/solicitudes-listar">Solicitudes</a></li>
    <li *ngFor="let m of listaMenus">

    </li>
  </ul>
  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
