<body>

    <br/>
    <a routerLink="/params/factura-agregar" class="btn">Agregar Factura </a>
    <br/>

    <div class="hero">
        <h1>Listado de nuestras Facturas</h1>
        <p>Conozca las Facturas asociadas a nuestros servicios</p>
        <button>Conozca Nuestros Facturas</button>
    </div>

    <table>
        <thead>
            <tr>
                <th>Fecha Limite Pago</th>
                <th>Cliente perteneciente al Plan</th>
                <th>Valor</th>
                <th>Cliente</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reg of listaRegistros | paginate: { itemsPerPage: registroPorPagina, currentPage: pag, totalItems: total }">
                <td>{{ reg.fechaLimitePago}}</td>
                <td>{{reg.clientePlanId}}</td>
                <td>{{reg.clientePlan?.tarifa | currency}}</td>
                <td>{{reg.clientePlan?.cliente?.nombre}} {{reg.clientePlan?.cliente?.primerApellido}} {{reg.clientePlan?.cliente?.segundoApellido}}</td>
                <td>
                    <a routerLink="/params/factura-editar/{{reg.id}}" class="btn orange">Editar Factura </a>&nbsp;
                    <a routerLink="/params/factura-eliminar{{reg.id}}" class="btn red">Eliminar Factura </a>
                  </td>
              </tr>
              <tr>
                  <td colspan="5">
                      <pagination-controls
                        (pageChange)="pag = $event; ListarRegistros()"
                        previousLabel="Anterior"
                        nextLabel="Siguiente"
                        screenReaderPaginationLabel="Navegación"
                        screenReaderPageLabel="Pagina"
                        screenReaderCurrentLabel="Pagina Actual">
                      </pagination-controls>
                  </td>
              </tr>
        </tbody>
    </table>
    </body>
