<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario PQRS</title>
    <link rel="stylesheet" href="pqrs2.component.css">
</head>
<body>
    <form [formGroup]="pqrs2Form" (ngSubmit)="onSubmit()">
        <h2>Formulario de PQRS</h2>
        <label for="nombreCompleto">Nombre Completo</label>
        <input type="text" id="nombreCompleto" formControlName="nombre" placeholder="Escribe tu nombre completo" required>
        <label for="correo">Correo Electrónico (Opcional)</label>
        <input type="email" id="correo" formControlName="email" placeholder="Escribe tu correo electrónico">
        <label for="asunto">Asunto</label>
        <input type="text" id="asunto" formControlName="asunto" placeholder="Escribe aquí el Asunto" required>
        <label for="descripcion">Descripción</label>
        <textarea id="descripcion" formControlName="mensaje" placeholder="Escribe aquí tu solicitud, queja, reclamo o sugerencia" rows="4" required></textarea>
        <button type="submit" [disabled]="pqrsForm.invalid">Enviar PQRS</button>
    </form>
    <p *ngIf="confirmationMessage">{{ confirmationMessage }}</p>
</body>
</html>

<!-- <input type="text" formControlName="id"/>  para que no se sobremuestre -->
